@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {--primary-color: #111111}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color)
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

header > .links {
    font-size: 22px;
}

header > .links a{
    position: relative;
    text-decoration: none;
    color: #777777;
    cursor: pointer;
}

header > .links a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: var(--primary-color);
}

header > .links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

header > .links a + a{
    margin-left: 32px;
}

header > .links a.active{
    font-weight: bolder;
    color: var(--primary-color);
}