@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {--primary-color: #111111}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color)
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

header > .links {
    font-size: 22px;
}

header > .links a{
    position: relative;
    text-decoration: none;
    color: #777777;
    cursor: pointer;
}

header > .links a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: var(--primary-color);
}

header > .links a:hover::after{
    width: 100%;
    transition: width 200ms ease-in-out;
}

header > .links a + a{
    margin-left: 32px;
}

header > .links a.active{
    font-weight: bolder;
    color: var(--primary-color);
}

body > .card{
    background-color: white;
    width: 800px;
    min-height: 500px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    box-shadow: 0px 2px 6px -2px rgba(255, 253, 253, 0.466);
    /* --------- ANIMAÇÃO --------- */
    animation: up 200ms ease-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

/* --------- DETALHES --------- */

body > .card > .details {
    padding: 32px;
}

body > .card > .details > .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

body > .card > .details > .item:last-child {
    border: none;
}

body > .card > .details > h3 ,
body > .card > .details > .item > div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

body > .card > .details > .item > div:nth-child(2) {
    color: #555;
    font-weight:bold;
    font-size: 18px;
 }

 body > .card > .details > h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
 }

 body > .card > .details > .item > div:nth-child(2) > span{
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: #777777;
    font-weight:bold;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 4px;
    text-transform: uppercase;
    display: inline-block;
 }

 /* --------- FORM --------- */

.card > .details > .item > div:nth-child(2) > input{
    width: 100%;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}

.card > .details > .item > div:nth-child(2) > input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

.card > .details > .item > div:nth-child(2) > input::placeholder{
   font-size: 16px;
   font-weight: normal;
}

.card > .details > button[type="submit"] {
   padding: 8px 32px;
   background-color: var(--primary-color);
   color: white;
   border-radius: 4px;
   margin-top: 32px;
   width: 100%;
   font-size: 16px;
}